{% extends 'base.html' %}

{% block title%}Blog Home{% endblock %}

{% block content %}

    {% for post in object_list %}
        <div class="post-entry card">
            <div class="card-body">
                <h2 class="card-title"><a href="{% url 'posts:post_detail' post.pk %}">{{ post.title }}</a></h2>
                <p class="card-text">{{ post.body|slice:":200" }}...</p>
                {% if post.comments.all.count <= 1 %}
                <h4><span class="badge rounded-pill bg-secondary">{{ post.comments.all.count }}</span> Comment</h4>
                {% else %}
                <h4><span class="badge rounded-pill bg-secondary">{{ post.comments.all.count }}</span> Comment's</h4>
                {% endif %}
                <a href="{% url 'posts:post_detail' post.pk %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
        </div>
    {% endfor %}

    {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.number != 1 %}
            <li><a class="page-link" href="?page=1">⇤</a></li>
        {% endif %}
        {% if page_obj.has_previous %}
            <li><a class="page-link"
                   href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link"
                                                href="?page={{ i }}">{{ i }}</a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            </li>
        {% endif %}
        {% if page_obj.number != page_obj.paginator.num_pages %}
            <li><a class="page-link"
                   href="?page={{ page_obj.paginator.num_pages }}">⇥</a></li>
        {% endif %}

    </ul>
    {% endif %}

{% endblock %}