{% extends 'base.html' %}

{% block title%}Blog Detail{% endblock %}

{% block content %}

    <div class="card">

        <div class="post-entry card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.body }}</p>
            {% if post.comments.all.count <= 1 %}
            <h4><span class="badge rounded-pill bg-secondary">{{ post.comments.all.count }}</span> Comment</h4>
            {% else %}
            <h4><span class="badge rounded-pill bg-secondary">{{ post.comments.all.count }}</span> Comment's</h4>
            {% endif %}
        </div>

        <div class="card-footer">
            {% for comment in post.comments.all %}
                <p>
                    <span class="font-weight-bold">{{ comment.author }}:</span>
                    {{ comment }}
                </p>
            {% endfor %}
            <!-- <a href="{% url 'posts:comment_new' post.pk %}">+ New Comment</a> -->
        </div>

    </div>

    {% if user.is_authenticated %}
    <form method="post" action="{% url 'posts:comment_new' post_pk=post.pk %}">
        {% csrf_token %}
        <div class="form-group col-lg">
            <textarea class="form-control border border-primary" name="comment" id="" cols="30" rows="10" required style="resize: none;"></textarea>
        </div>
        
        <div class="form-group">
            <button class="btn btn-info mt-2" type="submit">Add Comment</button>
        </div>
    </form>
    
    <div class="col-lg">
        <div class="mt-3 mt-5">
            <a class="float-md-start btn btn-secondary mb-3" href="{% url 'posts:post_edit' post.pk %}">Edit Blog Post</a>&nbsp;&nbsp;&nbsp;
            <a class="float-md-end btn btn-danger mb-3" href="{% url 'posts:post_delete' post.pk %}">Delete Blog Post</a>
        </div>
    </div>
    {% else %}
    <a class="btn btn-info mt-3" href="{% url 'login' %}">Login to Comment</a>
    {% endif %}

{% endblock %}